.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h1{
    font-size: 5rem;
    letter-spacing: 2px;   
}
.carousel-caption p{
    width:60%;
    margin:auto;
    font-size: 1.125rem;
    line-height: 1.9;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba( 0, 0,0,0.7);
    z-index: 1;
}
.container-hd{
    margin: auto;
    margin-top: 15vh;
    width: 25%;
}
.container-para{
    width: 50%;
}
.button-tab{
    display: none;
}
.modal-sec{
    width: 1120px;
    height: 200px
}

/* Mobile Responsive */
@media screen and (max-width:767px) {
    .carousel-item{
        height: 200px ;
    }
    .carousel-caption h1{
        font-size: 1.2rem;
    }
    .carousel-caption p{
        display: none;
    }
    .container-hd{
        width: 50%;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .container-para{
        display: none;
    }
    .img-fluid{
        width:350px;
    }
    .button-lp{
        display: none;
    }
    .button-tab{
        display: block;
    }
}
@media screen and (min-width:768px) and (max-width:1023px){
    .carousel-item{
        height: 400px ;
    }
     .carousel-caption h1{
        font-size: 2.5rem;
    }
    .carousel-caption p{
        width:80%;
        margin:auto;
        font-size: 1.125rem;
        line-height: 1.5;
    }
    .container-hd{
        width: 30%;
        margin-top: 5vh;
    }
    .container-para{
        width:80%;
        margin:auto;
        font-size: 1.125rem;
        line-height: 1.5;
    }
    .card{
        margin: auto;
    }
    .button-lp{
        display: none;
    }

}